
body {
background-color:#ffffff;
}

    #progress p  
    {  
        display: block;  
        width: 240px;  
        padding: 2px 5px;  
        margin: 2px 0;  
        border: 1px inset #446;  
        border-radius: 5px;  
    }  

        #progress p.success  
    {  
        background: #ffffff none 0 0 no-repeat;  
    }  
    #progress p.failed  
    {  
        background: #ffffff none 0 0 no-repeat;  
    }  
P {font-family:Georgia; color:#000000; Font-size:16px;}

H6 {font-family:Georgia; color:#8CB7C7; Font-size:13px;}

.fyll {font-family:Georgia; color:#400000; Font-size:16px;width:500px;border-color:#8CB7C7;border-width:1px;}
.fyll1 {font-family:Georgia; color:#400000; Font-size:16px;width:400px; border-width:1px;}
.fyll2 {font-family:Georgia; color:#400000; Font-size:22px;width:500px;height:30px; border-width:1px;color:#8CB7C7;font-weight:bold;background: #ffffff}
